body {
  background-image: url(https://character-customization.netlify.app/static/media/hip-square.22f03fab06033dc3aca1.png);
}

.title {
  text-align: center;
  color: #0baf94;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px #f90;
}

.subTitle {
  color: #f90;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 3px 3px #0baf94;
  text-align: center;
}

.divider {
  border-bottom: 4px solid rgba(255, 41, 41, 0.555);
  height: 1px;
  margin: 20px auto;
  width: 50%;
}

.body {
  max-width: 9000px;
  text-align: center;
  font-size: 100px;
}
.outputBox {
  background-color: #fff;
  border: 15px solid #0baf94;
  border-radius: 40px;
  display: inline-block;
  padding: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(50% - 205px);
}

.optionBox {
  background-color: rgba(255, 166, 0, 0.4);
  border: 5px solid orange;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px 0;
  padding: 20px;
}
.avatarGroup {
  display: flex;
  justify-content: center;
}

.list {
  background-color: rgba(255, 166, 0, 0.4);
  border: 5px solid orange;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px 0;
  padding: 20px;
  justify-content: center;
}

.square {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.151);
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
}

.clickable {
  cursor: pointer;
}

.img-center {
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#avatar-group {
  display: flex;
  justify-content: center;
}

.list-section {
  max-width: 700px px;
  text-align: center;
}

.avatar-wrapper {
  background-color: #fff;
  border: 15px solid #0baf94;
  border-radius: 40px;
  display: inline-block;
  padding: 50px;
  margin-top: 50px;
  position: sticky;
  top: calc(50% - 205px);
}

.avatar {
  height: 280px;
  position: relative;
  width: 260px;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}

.button,
.button:hover {
  transition-duration: 0.2s;
}

.button {
  background-color: #ca5119;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px;
  text-transform: uppercase;
}
